* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*! INDEX HERO */
.index-hero {
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.index-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;

    background-image: 
        linear-gradient(
            65deg,
            rgba(0,0,0,0.79) 19%,
            rgba(0,0,0,0) 69%
        ),
        url(assets/bg.png);
        
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    opacity: 0.79;

    display: flex;
    justify-content: center;
    align-items: center;
}

.index-hero > * {
    z-index: 1;
}

.hero-char {
    width: 60%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.hero-char img {
    height: clamp(70vh, 130vh, 150vh);
    width: auto;

    opacity: 0;
    transition: opacity 0.7s ease, transform 0.7s ease;
    transform: translateX(120px)
}

.hero-char img.fade {
    opacity: 1;
    transform: translateX(-90px)
}

.bio {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    color: white;
}

.bio {
    font-size: 39px;
}

.bio .title {
    font-size: 130px;
}



/*? INDEX RELATED */
.index-related {
    min-height: 100vh;
    padding: 1.5rem;
    max-width: 1100px
}

.related-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #cfcfcf;
    color: #000;
}

.cards {
    display: flex;
    gap: 1.5rem;
}

.card {
    text-decoration: none;
    display: block;
}

.thumbnail-image {
    background: #ffffff;
    position: relative;
    border: 1px solid #d8d8d8;
    padding: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    overflow: hidden;
    max-width: 360px; /* sesuaikan */
}

.thumbnail-image img {
    width: 100%;
    display: block;
    filter: brightness(0.7);
}


/*! INDEX MOMENTS */
.index-moments {
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #e6f1ff;
}

.show {
    position: relative;
    width: 60%;
    height: 100%;

    -webkit-mask-image: linear-gradient(
        to right,
        black 50%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to right,
        black 50%,
        transparent 100%
    );

    overflow: hidden;
}

.frame {
  position: absolute;
  inset: 0;

  opacity: 0;
  transition: opacity 1.5s ease;
}

.frame.active {
  opacity: 1;
}

.frame img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 1.5s ease;
}

.f1 {
    object-position: 75% center;
}

.f2 {
    object-position: 30% center;
}

.f3 {
    object-position: 100% center;
}

.f4 {
    object-position: 45% center;
}

.f5 {
    object-position: 70% center;
    transform: scale(1.39) translateY(30px);
}